*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
    outline: none;
}
@font-face {
    font-family:'GolosText-400' ;
    src: url(../fonts/GolosText-Regular.ttf);
}
@font-face {
    font-family:'GolosText-600' ;
    src: url(../fonts/GolosText-SemiBold.ttf);
}
/* header start */
.header{
    border-bottom: 1px solid #757575;
}
.navbar{
    display: flex;
    align-items: center;
    height: 52px;
    background-color: #F4F5F8;
}
.nav__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo__box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo__title{
    color: #161616;
    font-family:'GolosText-600' ;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
}
.nav__top--input{
    display: flex;
    align-items: center;
    gap: 80px;
}
.email__number{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav__top--email{
    color: #757575;
    font-family:'GolosText-400' ;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; 
}
.nav__top--number{
    color: #757575;
    font-family:'GolosText-400' ;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; 
}
.deliver__guarantee{
    display: flex;
    align-items: center;
    gap: 32px;
}
.nav__top--deliver{
    color: #757575;
    font-family:'GolosText-400' ;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; 
}
.nav__top--guarantee{
    color: #757575;
    font-family:'GolosText-400' ;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; 
}
.nav__box--box{
    height: 104px;
    display: flex;
    align-items: center;
}
.nav__box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__list{
    display: flex;
    list-style: none;
    gap: 8px;
}
.nav__link{
    padding: 12px 20px;
    background-color: #F4F5F8;
    border-radius: 8px;
    color: #161616;
    font-family:'GolosText-400' ;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
}
.nav__box--btn{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav__box--search{
    border-radius: 8px;
    background-color: #F4F5F8;
    padding: 10px;
}
.nav__box--cart{
    border-radius: 8px;
    background-color: #F4F5F8;
    padding: 10px;
}
.nav__box--info{
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #202226;
    color: #fff;
    font-family:'GolosText-400' ;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
}
/* header end */


/* main */
/* main start */

.main_content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.main_title {
    color: #161616;
    font-family: 'GolosText-400';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 8px;
}

.main_title_2 {
    color: #161616;
    font-family: 'GolosText-400';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 8px;
}

.main_title_3 {
    color: #161616;
    font-family: 'GolosText-400';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-bottom: 8px;
}

.main_text {
    width: 313px;
    color: #757575;
    font-family: 'GolosText-400';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.main_content {
    display: flex;
}

.main_card {
    display: flex;
    margin-right: 16px;
}

.main_img {
    border-radius: 8px;
    border: 1px solid var(--border-or-devider-light-bg, #E9E9E9);
    padding: 18px;
}

.main_img_block {
    margin-right: 16px;
}

/* main end */

/* products start */

.products_container {
    padding-bottom: 120px;
}

.products_paragraph {
    display: flex;
    align-items: center;
}

.products_title {
    color: #161616;
    font-family: "GolosText-400";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    margin-right: 24px;
    margin-bottom: 40px;
}

.products_text {
    color: #757575;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: -20px;
}

.products_link_first {
    color: #FFF;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    background: #202226;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.products_support {
    margin-bottom: 30px;
}

.products_link_first::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../images/katalog/QR_code.svg);
    background-repeat: no-repeat;
    margin-left: 96px;
    margin-bottom: -6px;
}

.products_link_second {
    color: #161616;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    background: #FFF;
    padding-top: 12px;
    padding-right: 10px;
    padding-bottom: 12px;
    padding-left: 12px;
}

.products_link_second:hover {
    color: #FFF;
    background: gray;
    transition: 0.2s;
}

.products_link_second::after {
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(../images/katalog/percent.svg);
    background-repeat: no-repeat;
    margin-left: 155px;
    margin-bottom: -6px;
}

.products_support_2 {
    margin-bottom: 20px;
}

.products_link {
    color: #161616;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    background: #FFF;
    display: flex;
    width: 260px;
    padding: 12px;
    align-items: flex-start;
    gap: 10px;
}

.products_link:hover {
    color: #FFF;
    background: gray;
    transition: 0.2s;
}

.products_support_3 {
    margin-bottom: 8px;
}

.products_support_4 {
    margin-bottom: 8px;
}

.products_support_5 {
    margin-bottom: 8px;
}

.products_support_6 {
    margin-bottom: 8px;
}

.products_support_7 {
    margin-bottom: 8px;
}

.products_middle {
    width: 261.6px;
}

.products_card {
    width: 289px;
    flex-shrink: 0;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;
    border-radius: 16px;
    background: #F4F5F8;
}

.products_card_title {
    color: #161616;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.products_card_mdl {
    display: flex;
}

.products_card_sub_title {
    width: 98px;
    color: #757575;
    font-family: "GolosText-400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-right: 8px;
}

.products_card_mdl {
    margin-bottom: 8px;
}

.products_card_sub_text {
    width: 143px;
    color: #000;
    text-align: right;
    font-family: "GolosText-400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.products_card_sub_text_last {
    width: 143px;
    color: #000;
    text-align: right;
    font-family: "GolosText-400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 52px;
}

.products_line {
    width: 249px;
    height: 1px;
    background: #E9E9E9;
    margin-bottom: 8px;
}

.products_img_block {
    border-radius: 12px;
    background: #FFF;
    margin-bottom: 28px;
}

.products_img_block:hover {
    scale: 1.08;
    transition: 0.3s;
}

.products_card_price {
    color: #161616;
    font-family: "GolosText-400";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
    margin-right: 8px;
}

.products_card_price_line {
    color: #757575;
    font-family: "GolosText-400";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.products_price_block {
    display: flex;
    align-items: center;
    margin-top: -20px;
}

.products_btn {
    color: #FFF;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    width: 249px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #202226;
}

.products_btn:hover {
    background: gray;
    transition: 0.2s;
}

.products_btn_block {
    margin-top: 20px;
}

.products_content {
    display: flex;
}

.products_control {
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    gap: 15px;
    padding-bottom: 40px;
}

.products_last_btn {
    color: #161616;
    font-family: "GolosText-400";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F4F5F8;
}

.products_last_btn:hover {
    color: #FFF;
    background: #202226;
    transition: 0.2s;
}

.products_last_btn_block {
    margin-left: 670px;
}

/* products end */

/* voice start */

.voice_title {
    width: 456px;
    color: #FFF;
    font-family: "GolosText-400";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}

/* main */

/* footer start */
.footer{
    height: 568px;
    background: #F4F5F8;
}
.footer__top{
    height: 76px;
    display: flex;
    border-bottom: 1px solid #E9E9E9;
}
.footer__top--box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__logo--box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer__logo--title{
    color:#161616;
    font-family:'GolosText-600' ;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
}
.footer__box{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer__title{
    width: 389px;
    color: #161616;
    /* font-feature-settings: 'liga' off; */
    font-family:'GolosText-400' ;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.24px;
}
.foot__num--ema{
    gap: 8px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
}
.footer__number{
    color: #161616;
    /* font-feature-settings: 'liga' off; */
    font-family:'GolosText-400' ;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px; 
    letter-spacing: 0.24px;
}
.footer__email{
    color: #161616;
    /* font-feature-settings: 'liga' off; */
    font-family:'GolosText-400' ;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.24px;
}
.what__tele--box{
    padding-bottom: 62px;
    display: flex;
    gap: 9px;
}
.footer__whatsapp{
    padding: 12px 20px;
    border-radius: 8px;
    background: #202226;
    color: #FFF;
    font-family:'GolosText-400';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.footer__telegram{
    padding: 12px 20px;
    border-radius: 8px;
    background: #202226;
    color: #FFF;
    font-family:'GolosText-400';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.item__info--bottom{
    display: flex;
    align-items: center;
    gap: 24px;
}
.ins__yout--box{
    display: flex;
    gap: 8px;
}
.footer__instagram{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
}
.footer__youtube{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
}
.item__info--text{
    width: 193px;
    color:#757575;
    font-family:'GolosText-400' ;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.item__link--box{
    gap: 70px;
    display: flex;
}
.footer__list--title{
    padding-bottom: 32px;
    color: #161616;
    font-family:'GolosText-400';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.6px;
}
.footer__list{
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 12px;
}
.footer__li{
    width: 220px;
}
.footer__link{
    color: #161616;
    font-family:'GolosText-400';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
}
.footer__bottom{
    margin-top: 40px;
    border-top: 1px solid #E9E9E9;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__bottom--title{
    color: #757575;
    font-family:'GolosText-400';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
}
.footer__bottom--text{
    color: #757575;
    font-family:'GolosText-400';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
/* footer end */
